<nav aria-label="Breadcrumb" class="breadcrumb" data-testid="breadcrumb-nav">
    <!-- Home Button -->
    <button
        aria-label="Breadcrumb"
        data-testid="breadcrumb-nav"
        matIconButton
        matTooltipPosition="above"
        routerLink="/home"
        type="button"
        [matTooltip]="'Home' | translate"
    >
        <mat-icon>home</mat-icon>
    </button>

    <!-- Links -->
    @for (c of crumbs(); track $index; let last = $last) {
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>

        @if (last) {
            <span class="breadcrumb-current-link" data-testid="breadcrumb-current">{{ c.label | translate }}</span>
        } @else {
            <a data-testid="breadcrumb-link" matButton [routerLink]="c.url">{{ c.label | translate }}</a>
        }
    }
</nav>
