@use 'typography' as type;

:host {
  display: block;
}

.breadcrumb {

  display: flex;
  align-items: center;
  margin-left: 20px;
}

.breadcrumb-separator {
  color: var(--sys-outline-variant);
}

.breadcrumb-current-link {
  color: var(--sys-text-variant);
  padding: 0 var(--sys-spacing-xs);
  @include type.type-label-lg;
}
