$max-width: 700px;

.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1px;
  margin-top: 15px;

  .page-title {
    margin: 0 0 0 8px;
    padding: 0;
    font-size: 1.5rem;
    font-weight: var(--mat-sys-regular-font-weight, 400);
  }

  @media (max-width: $max-width) {
    flex-direction: column;
    align-items: center;
    padding: 0;

    .page-title {
      padding-inline: 1rem;
      margin: 1rem 0 0.5rem;
    }
  }
}

.btn-wrapper {
  display: inline-block; // allows tooltip even when button disabled
}

/* Top-right add button */
.add-department-btn {
  background-color: #2F5DA8 !important;
  color: white !important;
  border-radius: 4px !important;
}
