.panel {
  padding: 4px 12px;
  max-width: 260px;
}

.search {
  width: 100%;
}

.list {
  max-height: 240px;
}

.footer {
  white-space: nowrap;
  margin-left: -4px
}

.active {
  opacity: 1;
  color: #000;
}

.inactive {
  opacity: var(--sys-state-disabled-opacity);
}
