html, body {
  height: 100%;
  margin: 0;
  font-size: 14px;
}


.delete-btn {
  margin-left: 10px;
  border-color: #2F5DA8 !important;
  color: #2F5DA8 !important;
  border-radius: 4px !important;
}





