<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="#">{{ 'unihealth.footer.cookies-policy' | translate }}</a>
            <a href="#">{{ 'unihealth.footer.privacy-policy' | translate }}</a>
            <a href="#">{{ 'unihealth.footer.terms-of-use' | translate }}</a>
            <a href="#">{{ 'unihealth.footer.advertising-policy' | translate }}</a>
        </div>

        <div class="footer-info">
            <span class="copyright">{{ 'unihealth.footer.copyright-text' | translate }}</span>
            &nbsp;<span class="app-version">{{ 'unihealth.footer.version' | translate }} 1.0.0</span>
        </div>
    </div>
</footer>
