<footer class="footer">
    <div class="footer-container">

        <div class="footer-top">
            <div class="footer-column">
                <h4>{{ 'unihealth.footer.legal-title' | translate }}</h4>
                <div class="footer-links">
                    <a routerLink="/cookies-policy">{{ 'unihealth.footer.cookies-policy' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.privacy-policy' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.terms-of-use' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.advertising-policy' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.accessibility' | translate }}</a>
                </div>
            </div>

            <div class="footer-column">
                <h4>{{ 'unihealth.footer.support-title' | translate }}</h4>
                <div class="footer-links">
                    <a href="#">{{ 'unihealth.footer.faq' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.contact-support' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.report-issue' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.student-support' | translate }}</a>
                </div>
            </div>

            <div class="footer-column">
                <h4>{{ 'unihealth.footer.university-title' | translate }}</h4>
                <div class="footer-links">
                    <a href="https://www.uniwa.gr" target="_blank" rel="noopener noreferrer">
                        {{ 'unihealth.footer.uniwa' | translate }}
                    </a>
                    <a href="#">{{ 'unihealth.footer.student-services' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.health-office' | translate }}</a>
                    <a href="#">{{ 'unihealth.footer.campus-info' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="footer-disclaimer">
            {{ 'unihealth.footer.disclaimer' | translate }}
        </div>

        <div class="footer-bottom">
            <div class="footer-info">
                <span class="copyright">
                    {{ 'unihealth.footer.copyright-text' | translate }}
                </span>
            </div>

            <div class="footer-version-wrap">
                <span class="emergency-text">
                    {{ 'unihealth.footer.emergency' | translate }}
                </span>
                <span class="app-version">
                    {{ 'unihealth.footer.version' | translate }} 1.0.0
                </span>
            </div>
        </div>

    </div>
</footer>
